@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    font-family: 'Kanit', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

li a:hover{
    color: royalblue;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
}

.header{
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    padding-bottom: 10px;
    position: sticky;
    top: 0;
}

.h-con{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.h-con ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 4rem;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.7px;
}

li{
    display: flex;
    align-items: center;
}
li.selected{   
    border-bottom: 4px solid royalblue;
    height: 40px;
}

.logo{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
}

/* main */

.main{
    margin-top: 1rem;
}

.m-con{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.m-text,.m-img{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.img{
    height: 200px;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.m-img{
    width: 500px;
    height: 500px;
}

.m-text p{
    font-size:4em;
    font-weight: 500;
}

.m-text span.peerapon{
    color: royalblue;
}


.btn{
    display: inline-block;
    padding: 0.25rem 1.7rem;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 500px;
    background-color:rgb(74, 119, 255);
    color:white;
}

.card{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display:inline-block;
    width: 100%;
    padding: 14px;
}

.w-con .card img{
    width: 100%;
}

.w-con .card p{
    font-weight: 500;
    font-size: 19px;
    margin: 5px;
}

.btn-card{
    display: inline-block;
    border: 3px solid royalblue;
    background-color: transparent;
    padding: 0.25rem 1rem;
    margin-top: 5px;
    color: royalblue;
    border-radius: 5px;
}

.btn-card:hover{
    color:white;
    background-color: royalblue;
   
}

.m-btn{
    margin-top: 30px;
    width: 210px;
    height: 50px;
    position: relative;
    border: none;
    cursor: pointer;
}

.btn-text{
    background-color: royalblue;
    border: 1px solid royalblue;
    color: #fff;
    position:absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 17px;
    padding: 0.25 0.5rem;
    text-transform: uppercase;
    transform: translate(-3px,-3px);
    transition: transform 0.3s;
}

.outline{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    border: 1px solid royalblue;
    padding: 0.25 0.5rem;
}

.m-btn:active .btn-text{
    transform: translate(0,0);
}

.m-btn:hover .btn-text{
    color: #cecece;
}

.card-body p{
    padding-top: 7px;
    padding-bottom: 7px;
}
